* {
    margin: 0px;
    padding: 0px;
}

:root {
    --bg: rgb(24, 24, 24);
    --text: rgba(255, 255, 255, 0.5)
}

body {
    width: 100%;
    height: 100%;

    color: var(--text);

    background-color: var(--bg);
}

.helloContainer {
    display: grid;
    place-items: center;

    font-size: 3rem;

    width: 100vw;
    height: 100vh;
}

h1 {
    color: rebeccapurple
}