* {
  margin: 0;
  padding: 0;
}

#main {
  display: grid;
  height: calc(100vh - 10vmin);
  width: 100vw;
  grid-template-rows: 50% 50% auto;
  gap: 10vmin;
}

#profileContainer {
  z-index: 5;
  display: grid;
  place-content: center;
}

#profile {
  z-index: 3;

  height: max(35vmin, 30vh);

  border-radius: 100%;
  border-style: solid;
  border-color: white;

  pointer-events: none;
}

#cards {
  z-index: 5;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

#start {
  width: 100vw;
  height: 100vh;
}