* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

#main {
	display: grid;
	height: 100vh;
	width: 100vw;
	row-gap: 10vmin;
	grid-template-rows: 50% calc(50% - 10vmin);
}

#profileContainer {
	z-index: 5;
	height: 100%;
	display: grid;
	place-content: center;
}

#profile {
	z-index: 3;

	height: max(30vmin, 30vh);

	border-radius: 100%;
	border-style: solid;
	border-color: white;

	pointer-events: none;
}

#cards {
	z-index: 5;

	display: grid;
	grid-template-columns: auto auto;

	justify-items: center;
	justify-content: center;
}

#halfcards {
	display: grid;
	grid-template-columns: auto auto;
}

#start {
	width: 100vw;
	height: 100vh;
}