:root {
	--dark: #121212;
	--bg-color: #242424;

	/* Terminal colors */
	--left-bg-color: #242424;
	--left-fancy: #70CD00;

	/* UJ colors */
	--right-bg-color: #113967;
	--right-fancy: #fbce01;
}

body {
	background-color: var(--bg-color);
}

.side {
	height: 100%;
	width: 100%;

	display: grid;
	/* grid-template-rows: min(90vmin, 90%) auto; */
	align-items: center;

	overflow: hidden;
	position: absolute;

	pointer-events: none;
	z-index: 1;
}

.title {
	font-size: 5vmin;
	font-family: 'Red Hat Text', sans-serif;
	color: white;
	position: absolute;
	margin: 0px 10vw;
	margin-bottom: 2vmin;
	width: 80vw;
	text-align: center;
	display: grid;
	place-content: center;
}

.side .fancy {
	font-size: 1.7em;
	line-height: 1em;
}

#left-side {
	background-color: var(--left-bg-color);
	z-index: 2;
}

#left-side .title {
	color: white;
}

#left-side .fancy {
	color: var(--left-fancy);
	font-family: 'Handjet', cursive;
}

#company {
	position: absolute;
	z-index: 3;
	left: 5vmin;
	top: 7vmin;
	height: 5vmin;
	padding-top: 1rem;
	/* width: 5vh; */
}

#right-side {
	background-color: var(--right-bg-color);
	z-index: 1;
}

#right-side .title {
	color: white;
}

#right-side .fancy {
	color: var(--right-fancy);
	font-family: 'Satisfy', cursive;
}

#university {
	position: absolute;
	z-index: 3;
	width: 6vmin;
	right: 10vmin;
	top: 6vmin;
}

.age {
	opacity: 0.4;
}

.timer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dampner {
	display: flex;
	align-content: center;
	justify-content: space-evenly;
	width: 100%;
}

.seconds {
	/* width: 10%; */
	font-size: 3vmin;
}