{% extends "base.html" %}

{% block content %}
<form id="form"
    hx-post="/todo"
    hx-target="#todos"
    hx-swap="innerHTML"
    hx-indicator=".htmx-indicator"
    class="absolute gap-2 left-20 top-20"
>
    <h1 id="title" class="mb-1 text-5xl font-bold indicator shadow-white">TODOs<img class="mt-1 ml-2" src="assets/todo.svg" alt="todo icon"></h1>
    {% block input %}{% endblock %}


    <div
        hx-get="/todo"
        hx-trigger="load"
        id="todos"
        class="grid gap-1 mt-2"
    ></span></div>
</form>

<style>
    #title {
        font-family: 'Permanent Marker', cursive;
    }
</style>
{% endblock %}