{% for todo in todos %}
<div class="flex items-center gap-2">
    <div
        class="box-content justify-between max-w-4xl p-1.5 px-2 font-mono break-words border-2 border-gray-700 border-solid rounded-md hover:bg-gray-800">
        {{ todo.title }}
    </div>

    <button class="clickable btn btn-outline btn-sm w-8 opacity-70" title="Edit entry" hx-patch="/todo/{{ todo.id }}"><span>✏️</span></button>

    <button class="clickable btn btn-error btn-outline btn-sm w-8 opacity-70" title="Delete entry" hx-delete="/todo/{{ todo.id }}"><span>🗑️</span></button>
</div>
<style>
    .clickable:hover span {
        color: transparent;
        text-shadow: 0 0 0 black;
    }
</style>
{% endfor %}