{% for todo in todos %}
<div class="flex items-center gap-2">
    <div
        class="box-content justify-between max-w-4xl p-1.5 px-2 font-mono break-words border-2 border-gray-700 border-solid rounded-md hover:bg-gray-800">
        {{ todo.title }}
    </div>

    <button class="btn btn-outline btn-sm w-8 opacity-70" hx-delete="/todo/{{ todo.id }}">📝</button>

    <button class="btn btn-error btn-outline btn-sm w-8 opacity-70" hx-delete="/todo/{{ todo.id }}">🗑️</button>
</div>
{% endfor %}