<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Manao{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css"
    rel="stylesheet"
    type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <div class="w-screen h-screen flex flex-col justify-between">
      <div class="flex justify-center">
        <h1 class="p-3 px-5 m-7 rounded-xl font-mono text-gray-300 bg-violet-500 text-3xl font-bold">
          {% block heading %}Manao{% endblock %}
        </h1>
      </div>

      <div class="mb-auto">{% block content %} {% endblock %}</div>
      {% include "footer.html" %}
    </div>
  </body>
</html>
