{% extends "base.html" %}

{% block title %}Manao - your TODOs{% endblock %}

{% block heading %}Manao - your TODOs{% endblock %}

{% block content %}
    <div class="flex justify-center">
        {% if todos|length != 0 %}
            <ul class="menu bg-base-200 w-2/3 rounded-box">
                {% for todo in todos %}
                    <li class="todo collapse">
                        
                        <h3>{{ todo.content }}</h3>
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <h1>No TODOs, nice!</h1>

        {% endif %}
    </div>
{% endblock %}