{% extends "base.html" %}

{% block content %}
<form
    hx-post="/todo"
    hx-target="#todos"
    hx-swap="innerHTML"
    hx-indicator=".htmx-indicator"
    class="h-screen grid place-content-center gap-2"
>
    <h1 class="indicator">TODO</h1>
    <div
        class="flex box-border items-center gap-2 w-full"
    >
        <input
            class="input input-bordered input-primary w-52 h-13"
            name="todo_title"
            placeholder="Title"
            autocomplete="off"
            autofocus
        >
        <button class="btn btn-primary btn-sm">
            +
        </button>
        <span class="htmx-indicator relative -right-2 loading loading-spinner loading-lg"></span>
    </div>

    <div
        hx-get="/todo"
        hx-trigger="load"
        id="todos"
        class="grid gap-1"
    ></span></div>
</form>

{% endblock %}