.page {
    display: flex;
    flex-direction: column;

    height: 100vh;
    padding: 1rem;

    background-color: var(--background-color);
    color: var(--text-color);
}

.title {
    display: flex;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
}
